@charset "UTF-8";

/* Подключать переменные необходимо перед импортом всех файлов */

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* -------------- */

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* -------------- */

._container {
  max-width: 1140px;
  margin: 0px auto;
}

/* -------------- */

._no-webp .page{
  background: #86a745 url(../img/04.png) repeat; }

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #86a745;
}

/* -------------- */

.page__top {
  height: 500px;
  background-color: #000000;
  position: relative;
}

._no-webp .page__top::before{
  background: url(../img/01.png) repeat; }

.page__top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 100%;
}

._no-webp .page__top::after{
  background: url(../img/05.png) repeat-x; }

.page__top::after {
  content: "";
  position: absolute;
  top: -150px;
  left: 50%;
  z-index: 1;
  height: 700px;
  width: 100%;
  animation: city 35s linear 0s reverse 1;
}

@-webkit-keyframes city {
  0% {
    left: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  100% {
    left: 100%;
  }
}

@keyframes city {
  0% {
    left: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  100% {
    left: 100%;
  }
}

.page__road {
  height: 200px;
  background-color: #a78952;
  position: relative;
}

._no-webp .page__road::after{
  background: url(../img/04.png); }

.page__road::after {
  content: "";
  width: 100%;
  height: 36px;
  position: absolute;
  z-index: 5;
  top: 20px;
  left: 0;
}

._no-webp .page__road::before{
  background: url(../img/04.png); }

.page__road::before {
  content: "";
  width: 100%;
  height: 36px;
  position: absolute;
  z-index: 5;
  bottom: 0px;
  left: 0;
}

.page__bike {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, -10%);
      -ms-transform: translate(0, -10%);
          transform: translate(0, -10%);
  -webkit-animation-name: bike;
          animation-name: bike;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.page__bike img {
  width: 200px;
}

.page__bike:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes bike {
  0% {
    left: 0;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }

  25% {
    left: 30%;
    -webkit-transform: translate(0, 40px);
            transform: translate(0, 40px);
  }

  50% {
    left: 50%;
    -webkit-transform: translate(0, 60px);
            transform: translate(0, 60px);
  }

  100% {
    left: 100%;
    -webkit-transform: translate(0, 80px);
            transform: translate(0, 80px);
  }
}

@keyframes bike {
  0% {
    left: 0;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }

  25% {
    left: 30%;
    -webkit-transform: translate(0, 40px);
            transform: translate(0, 40px);
  }

  50% {
    left: 50%;
    -webkit-transform: translate(0, 60px);
            transform: translate(0, 60px);
  }

  100% {
    left: 100%;
    -webkit-transform: translate(0, 80px);
            transform: translate(0, 80px);
  }
}

._webp .page{ background: #86a745 url(../img/04.webp) repeat; }

._webp .page__top::before{ background: url(../img/01.webp) repeat; }

._webp .page__top::after{ background: url(../img/05.webp) repeat-x; }

._webp .page__road::after{ background: url(../img/04.webp); }

._webp .page__road::before{ background: url(../img/04.webp); }